@font-face {
    font-family: "Ruhl";
    src: url(fonts/FrankRuhlLibre-Regular.woff);
}

@font-face {
    font-family: "Ruhl";
    src: url(fonts/FrankRuhlLibre-Medium.woff);
}

@font-face {
    font-family: "Vibes";
    src: url(fonts/greatvibes.woff);
}



/*global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(4rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2rem + 1vw);
    --text: calc(1.5rem + 0.5vw);
    --big: calc(10rem + 1vw);

    --special-color: #906272;
    --special-color-dark: #6b404f;
    --bg-color: #414141;
    --grey-text: #6e6e6e;
}

h1 {
    font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text) ;
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-weight: 400;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* //global */

body {
    font-family: "Ruhl", sans-serif;
    animation: openning 1s ease-in-out;
}

h1 {
    font-family: "Vibes", sans-serif;
}

/* Nav section */
.main-head {
    box-shadow: 0 10px 10px rgba(39, 21, 33, 0.05);
    position: relative;
    z-index: 2;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: 2rem 0;
}

#logo {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 20rem; 
}

.nav-links {
    display: flex;
    justify-content:space-around;
    flex: 1 1 20rem;
}

.nav-links a {
    position: relative;
}

.nav-links a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: var(--special-color);
    transition: width .2s ease-in;
}

.nav-links li:hover a {
    color: var(--special-color);
}

.nav-links li:hover a:after {
    width: 100%;
}

/* Hero section */

.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
}

.hero-images {
    flex: 1 1 40rem;
    background-image: linear-gradient(to top, #dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;
}

.hero-introduction h2 {
    color: var(--special-color);
}

.hero-introduction p {
    padding: 5rem 10rem;
    color: var(--grey-text);
}

.hero-introduction h2 {
    padding-top: 3rem;
}

.hero-introduction a {
    padding: 1.2rem 3.5rem;
    border: 3px solid black;
    margin-bottom: 4rem;
    transition: border-color .2s ease, background .2s ease;
}

.hero-introduction a:hover,
.hero-introduction a:focus {
    color: #fff;
    border-color: var(--special-color);
    background: var(--special-color);
}

.hero-elena {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: -1;
    max-height: 80%;
    
    transform-origin: bottom;
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);

    animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
                plants-shake 2.5s infinite ease alternate-reverse 2s;
}

.plant2 {
    left: 43%;
}


/* about section */
.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image h5 {
    position: absolute;
    top: 10%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -20%);
    font-weight: 400;
    letter-spacing: 1.5rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    flex: 2 1 40rem;
    justify-content: space-around;
    background: var(--bg-color);
    color: #fff;
}

.about-text  P {
    color: rgb(168, 162, 162);
}

.about-text div {
    padding: 3rem 8rem;
}

.about-text h2 {
    font-family: "Vibes", sans-serif;
    padding: 4rem;
}

.about-text h3 {
    padding: 2rem 0;
    font-weight: 600;
}


/* gallery */
.gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery1 {
    grid-column: 1/3;
}

.gallery2 {
    grid-column: 3/4;
    grid-row: 1/3;
}


/*contact section */
.contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.contact img {
    flex: 1 1 40rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.form-wrapper {
    flex: 3 1 40rem;
}

.form-wrapper h2 {
    margin: 5rem 0;
}

.form-wrapper span {
    font-size: var(--big);
    color: var(--special-color);
}

.form-wrapper label {
    display: block;
}

.form-wrapper input {
    display: block;
    margin: 1rem 0 3rem 0;
    background: var(--bg-color);
    color: #fff;
    border: none;
    padding: 2rem;
}

.form-wrapper button {
    padding: 2rem 8rem;
    width: 100%;
    background: var(--special-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background .15s ease-in;
}

.form-wrapper button:hover {
    background: var(--special-color-dark);
}


/* footer */

footer {
    background: var(--bg-color);
    color: #fff;
    display: flex;
    padding: 3rem 5%;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

footer h4 {
    flex: 4 1 40rem;
    font-size: calc(1.4rem + .4vw);
    font-weight: 400;
}

footer a {
    opacity: .6;
}

footer a:hover {
    opacity: 1;
}

/* animations */
@keyframes openning {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes plant-entrance {
    from {
        transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    }
    to{
        transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
    }
}

@keyframes plants-shake {
    from {
        transform: rotateZ(-5deg)
    }
    to{
        transform: rotateZ(0deg);
    }
}


.burger,
.menu-check {
    display: none;
}

@media screen and (max-width: 576px){
    .form-wrapper h2 {
        margin: 3rem 0;
    }

    .form-wrapper input {
        margin: 1rem 0 2rem 0;
        padding: 1.3rem;
    }
    
    .form-wrapper button {
        padding: 1.3rem 8rem;
    }
}

@media screen and (max-width:842px){
    /* burger mobile menu */
    .burger {
        position: relative;
        display: block;
    }

    .nav-links {
        background: var(--bg-color);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .nav-links a {
        color: #fff;
        font-size: var(--header3);
    }

    .burger span {
        display: block;
        padding: 0.2rem 1.9rem;
        background: var(--grey-text);
        margin: 0.7rem 0;
        transition: all .5s ease;
    }

    .menu-check {
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .menu-check:checked + .nav-links {
        transform: translate(-100%);
    }

    .menu-check:checked ~ .burger span {
        background: #fff;
    }

    .menu-check:checked ~ .burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(380%);
    }

    .menu-check:checked ~ .burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-380%);
    }

    .menu-check:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }


    /* hero section */

    .hero {
        width: 100%;
    }

    .hero-introduction p {
        padding: 3rem;
    }

    /* about section */

    .about-text div {
        padding: 3rem 4rem;
    }

    /*gallery section */
    .gallery img {
        grid-row: auto;
        grid-column: auto;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .gallery-head {
        display: none;
    }


    /* footer */

    footer {
        padding: 4rem 25%;
    }
    footer h4 {
        text-align: center;
        font-size: calc(2rem + 1vw);
        margin-top: 5rem;
        order: 2;
    }
}

@media screen and (min-width: 842px) and (max-width: 1024px){
    .contact {
        min-height: 60vh;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    /* contacts */
    .contact img {
        display: none;
    }
}

@media screen and (min-width:1700px){
    html {
        --header1: 5rem;
        --keader2: 4.5rem;
        --header3: 3.5rem;
        --header4: 2.5rem;
        --text: 2.4rem;
        --big: 10rem;
    }
}


